<section class="signup container">
    <h1 class="entry-title"><span>Create new poost</span></h1><hr>
    <form class="form-horizontal" method="post" name="addPost" id="addPost">
      <div class="form-group">
        <label class="control-label col-sm-3">Title<span class="text-danger">*</span></label>
        <div class="col-md-8 col-sm-9">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" class="form-control" name="titleid" id="titleid" placeholder="Type title"
                   value="" [(ngModel)]="newPost.title">
          </div>
        </div>
      </div>
     
      <div class="form-group">
        <label class="control-label col-sm-3">Image<span class="text-danger">*</span></label>
        <div class="col-md-8 col-sm-9">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" class="form-control" name="imageid" id="imageid" placeholder="Type image URL"
                   value="" [(ngModel)]="newPost.image">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Text<span class="text-danger">*</span></label>
        <div class="col-md-8 col-sm-9">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" class="form-control" name="textid" id="textid" placeholder="Type text"
                   value="" [(ngModel)]="newPost.text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-10">
          <button (click)="create()" name="Submit" type="submit" class="btn btn-primary">Add post
          </button>
        </div>
      </div>
    </form>
  </section>
  
  